.usage-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(100deg, #FF8C00, #FFA500);
}
.usage-heading {
    font-size: 54px;
    margin-left: 100px;
    padding-top: 50px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.usage-content {
    color: white;
    font-size: 18px;
    margin: auto;
    margin-left: 100px;
    margin-top: 4px;
}
.usage-content-container {
    width: 70%;
}
.btn-section {
    position: absolute;
    left: 38vw;
    top: 60vh;
}

.btn{
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 10px 20px 10px 20px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 24px;
    border-color: #FFA500;
    border-radius: 8px;
    border-width: 4px;
    cursor: pointer;
}
.btn:hover {
    background: rgba(255,165,0, 0.2);
    color: white;
}