.dropdown-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .dropdown-toggle {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #fff;
    width: 200px;
  }
  #pose-dropdown-btn:hover {
    border-color: white;
}
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    overflow: scroll;
    height: 54vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-item-container {
    width: 200px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown-item-1 {
    margin-right: 10px;
  }
  
  .dropdown-img {
    width: 125px;
    height: 125px;
    object-fit: contain;
  }